{% extends 'base.html.twig' %}

{% block title %}New Image{% endblock %}

{% block body %}
    <section class="container"> 
        <h1 class="text-center">Ajouter une Image à {{ player.name }}</h1>

        {{ include('image/_form.html.twig') }}

        <a class="text-warning" href="{{ path('player_index') }}">Retour à la liste</a>
    </section>
{% endblock %}
