{% extends 'base.html.twig' %}

{% block title %}New Player{% endblock %}

{% block body %}
    <section class="container">
        <h1 class="text-center">Ajouter un joueur</h1>
        
        {{ include('player/_form.html.twig') }}

        <a class="text-warning" href="{{ path('player_index') }}">Retour à la liste</a>
    </section>
{% endblock %}
