{% extends 'base.html.twig' %}

{% block title %}New Image{% endblock %}

{% block body %}
    <section class="container">
        <h1 class="text-center">Ajouter une image</h1>

        {{ include('image/_form.html.twig') }}

        <a href="{{ path('image_index') }}">Bibliothèque</a>
    </section>
{% endblock %}
