.card-deck {
    padding: 0;
    margin: 0;
}

.card-deck img {
    width: auto;
    height: 500px;
}

.card-deck .card {
    margin-top: 30px;
    margin-bottom: 30px;
}

.card-body {
    height: 300px;
}