body {
    background: linear-gradient(rgba(247, 239, 239, 0.9), rgba(238, 233, 233, 0.9)), url("../images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: 'Electrolize', sans-serif;
    font-size: 25px;
    width: 100%;
    padding-top:85px;
    overflow: auto;
}

.index img {
    width: 500px;
    height: 500px;
}

.index .index-card {
    background: linear-gradient(rgba(247, 239, 239, 0.8), rgba(238, 233, 233, 0.8)), url("../images/bg-index.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
}

section {
    min-height: 1250px;
}

@media screen and (min-width: 1020px) {
    section {
        min-height: 700px;
    }
}

.index .display {
    display: none;
}

.index .none {
    display: block;
}

@media screen and (min-width: 1020px) {
    .index .display {
        display: block;
    }
    
    .index .none {
        display: none;
    }
}