body {
    background-color: lightcyan;
    font-family: 'Electrolize', sans-serif;
    font-size: 25px;
    width: 100%;
    padding-top:85px;
    overflow: auto;
}

.index img {
    width: 500px;
    height: 500px;
}
