{% extends 'base.html.twig' %}

{% block title %}New Performance{% endblock %}

{% block body %}
    <section class="container">
        <h1 class="text-center">Ajouter des Performances</h1>

        {{ include('performance/_form.html.twig') }}

        <a class="text-warning" href="{{ path('performance_index') }}">Retour à la liste</a>
    </section>
{% endblock %}
